---
---
<div class="flex space-x-6">
  <a href="/pcb-order" class="text-blue-600 hover:text-blue-800 font-medium">PCB Order</a>
  <a href="/shop" class="text-blue-600 hover:text-blue-800 font-medium">Shop</a>
</div>