---
---
<a href="/" class="flex items-center space-x-2 group">
  <img src="/images/logo.png" alt="B8T Labs Logo" class="w-8 h-8 transition-transform group-hover:scale-110" />
  <span class="text-xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#3D52A0] to-[#7091E6] transition-colors group-hover:from-[#7091E6] group-hover:to-[#3D52A0]">B8T labs</span>
</a>